*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
section{
    padding: 100px 0px;
}
.conteiner{
    width: 90%;
    margin: auto;
    padding: 50px 0px;
}
.underline{
    width: 5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.37) ;
    margin: 10px auto;
}
nav{
    width: 100%;
    float: left;
    background-color: #87509c;
}
.logo-part{
    width: 50%;
    float: left;
}
.menu-part{
    width: 50%;
    float: left;
    text-align: right;
    padding: 20px;
}
.menu-part li{
    display: inline-block;
    text-decoration: none;
}
.menu-part a{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.menu-part a:hover{
    background-color: #643a79;
    padding: 10px;
    border-radius: 5px;
    transition: width 2s, height 2s, transform 2s;
}
.hero-part {
    padding: 15%;
    margin: auto;
    background-color: #87509c;
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.hero-part input{
    background-color: #eb7d4b;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    color: #fff;
    
}
#service{
    width: 100%;
    float: left;
    background-color: #17c2a4;
    color: #fff;
    text-align: center;
}
.service-wrighing-part{
    width: 100%;
    float: left;
}
.service-wrighing-par h1{
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
}
.service-box-part{
    width: 100%;
    float: left;
}
.service-part{
    width: 25%;
    float: left;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    
}
#team{
    width: 100%;
    float: left;
    background-color: #e7f1f8;
    color: #919cad;
    text-align: center;
}
.team-wrighting-part{
    width: 100%;
    float: left;
    color: #3c4761;
}
.team-wrighting-part h2{
    color: #3c4761 ;
}

.team-box-part{
    width: 100%;
    float: left;

}
.team-part{
    width: 25%;
    float: left;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.team-part h2 {
    color: #3c4761;
}
#position{
    color: #3cbde8;
    font-size: 15px;
}
#skill{
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #919cad;
    text-align: center;
}
.skill-writing-part{
    width: 100%;
    float: left;
    color: #3c4761;
}
.skill-box-part{
    width: 100%;
    float: left;
}
.skill-part{
    width: 25%;
    float: left;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
#portfolio{
    width: 100%;
    float: left;
    background-color: #ffdd99;
    color: #393939;
    text-align: center;
}
.portfolio-writing-part{
    width: 100%;
    float: left;
}
.portfolio-button-part a{
    margin-top: 20px;
    display: inline-block;
}
.portfolio-button-part input {
    width: 100%;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
}
.portfolio-box-part{
    width: 100%;
    float: left;
}
.p-box-part{
    width: 50%;
    float: left;
    padding: 70px;
    margin-top: 50px;
}
#p-submit {
    padding: 10px;
    margin: 10px 0px;
    background-color: #17c2a4;
    color: #fff;
    border-radius: 4px;
}
#about{
    width: 100%;
    float: left;
    background-color: #d74680;
    color: #fff;
    text-align: center;
}
.about-writing-part{
    width: 100%;
    float: left;
}
.about-box-part{
    width: 100%;
    display: flex;
}
.about-box{
    width: 100%;
    float: left;  
    padding: 20px; 
}
#contuct{
    width: 100%;
    float: left;
    background-color: #3c5499;
    color: #fff;
    text-align: center;
}
.contuct-writing-part{
    width: 100%;
}
#s-button{
    padding: 10px;
    margin: 100px 0px 0px 0px;
    background-color: #30bae7;
    color: #fff;
    border-radius: 4px;
}
.foter-part{
    background-color: #344b8e;
    
}
.foter-part, input{
    background-color: #344b8e;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 35px 0px 0px 0px ;
}


#sector-pro-max {
    width: 100%;
    float: left;
    background-color: #344b8e;
    text-align: center;
}